# AI Model Keys
GROQ_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
GEMINI_API_KEY1=
HUGGINGFACE_API_KEY=
FAL_KEY=

# Database (Supabase)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Search API
TAVILY_API_KEY=
